:root {
	--site-accent-color: #f44336;
	--site-primary-color-100: #37474f;
	--site-primary-color-200: #263238;
	--site-bg-color-100: #fff;
	--site-bg-color-200: #FAFAFA;
	--site-bg-color-300: #f1f1f1;
	--site-bg-color-400: #d8d7d7;
	--site-selected-item-bg-color: #e8f0fe;
	--site-text-color-100: #fff;
	--site-text-color-300: rgba(0,0,0,.54);
	--site-text-color-400: rgba(0,0,0,.87);
	--site-border-color-100: #eff1f2;
	--site-border-color-200: #E0E0E0;
}

#theme crupdate-article form,
#theme app-root,
#theme slider .slider-controls .control .control-inner,
#theme crupdate-list .form-group,
#theme news-article .news-article,
#theme browse-titles .mat-sidenav-container,
#theme star-rating-overlay,
#theme connect-social-accounts-panel .social-login-row > .icon-container.facebook .mat-icon,
#theme chart,
#theme homepage-appearance-panel .lists .list,
#theme mail-templates .header,
#theme mail-templates .template .editor,
#theme mail-templates .template mail-template-preview,
#theme crupdate-page .slug-container input,
#theme select-plan-panel .plans > .plan,
#theme user-subscription-page .content,
#theme upgrade-page .step-container,
#theme contact form,
#theme material-navbar .nav-searchbar input:active, #theme material-navbar .nav-searchbar input:focus,
#theme default-preview .panel,
#theme text-preview,
#theme .context-menu,
#theme .mat-dialog-container,
#theme .mat-menu-panel
{
	background-color: var(--site-bg-color-100);
}

#theme person-page .credits-container .mat-expansion-panel,
#theme .main-search-autocomplete-panel.mat-autocomplete-panel,
#theme range-slider .noUi-horizontal .noUi-handle,
#theme browse-titles .sidebar .mat-button-toggle-appearance-standard,
#theme full-credits-page .mat-expansion-panel
{
	background: var(--site-bg-color-100);
}

#theme connect-social-accounts-panel .social-login-row > .icon-container.twitter,
#theme connect-social-accounts-panel .social-login-row > .icon-container.google
{
	color: var(--site-bg-color-100);
}

#theme select-plan-period-panel .periods > .radio-button-wrapper > .savings-label:before
{
	border-left-color: var(--site-bg-color-100);
}

#theme crupdate-title .sidebar .header,
#theme material-navbar:not(.transparent),
#theme .mat-raised-button.mat-primary, #theme .mat-icon-button.mat-primary, #theme .mat-progress-bar-fill::after,
#theme .mat-checkbox-checked.mat-primary .mat-checkbox-background, #theme .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
#theme .mat-radio-button.mat-primary .mat-radio-inner-circle,
#theme .mat-step-header .mat-step-icon
{
	background-color: var(--site-primary-color-200);
}

#theme admin .admin-page-content .left-column .menu-items .menu-item.router-link-active
{
	border-left-color: var(--site-primary-color-200);
}

#theme .mat-radio-button.mat-primary.mat-radio-checked .mat-radio-outer-circle,
#theme .mat-tab-group.mat-primary .mat-ink-bar, #theme .mat-tab-nav-bar.mat-primary .mat-ink-bar
{
	border-color: var(--site-primary-color-200);
}

#theme .la-ball-spin-clockwise
{
	color: var(--site-primary-color-200);
}

#theme crupdate-title .sidebar .header,
#theme slider .slide,
#theme player .action-toolbar .mat-icon-button,
#theme player .header-bar,
#theme player .mat-drawer.mat-drawer-end,
#theme player .related-video .title,
#theme review-tab .review .header .score,
#theme footer .footer-bar,
#theme media-item-header .nav-searchbar input,
#theme season-page .episode-list figure figcaption,
#theme select-plan-period-panel .periods > .radio-button-wrapper > .savings-label,
#theme material-navbar,
#theme material-navbar .text-logo,
#theme material-navbar custom-menu .nav-item.router-link-active, #theme material-navbar custom-menu .nav-item.active
{
	color: var(--site-text-color-100);
}

#theme analytics-header .stat
{
	background-color: var(--site-text-color-100);
}

#theme crupdate-title .sidebar .message,
#theme .crupdate-title-panel .mat-column-edit, #theme crupdate-episode-modal .mat-column-edit,
#theme seasons-panel .mat-column-edit,
#theme news-article .sidebar .header,
#theme news-article .sidebar .article .subtitle,
#theme news-index .article .meta,
#theme known-for-widget,
#theme review-tab .review .header .date,
#theme browse-titles-sort-widget .label,
#theme browse-titles-sort-widget button:disabled,
#theme browse-titles .sidebar .mat-selection-list .mat-pseudo-checkbox,
#theme current-next-episode-panel .media .media-body .release-date,
#theme media-item-header .nav-searchbar input:focus::placeholder, #theme media-item-header .nav-searchbar input:active::placeholder,
#theme season-page .episode-list .release_date,
#theme analytics-header .stat .details .name,
#theme chart .chart-header .subtitle,
#theme menu-items > .inner > .no-menu-items,
#theme mail-templates > .label .type,
#theme crupdate-role-modal .setting-container > p,
#theme settings .settings-panels-container > *:not(router-outlet) > .header,
#theme upgrade-page-aside .secure-shopping .text > .secondary,
#theme upgrade-page .payment-step .legal-info,
#theme .context-menu .context-menu-item:not(:disabled) .mat-icon,
#theme .context-menu .context-menu-item .alt-text,
#theme .menu-with-alt-text .mat-menu-item > .alt-text,
#theme .admin-table-panel .admin-table-panel-header > .header-inner > .left > .title,
#theme .admin-table-panel .mat-table .mat-column-edit,
#theme .input-container p,
#theme .setting-toggle-container > p,
#theme text-editor .mat-menu .alt-text
{
	color: var(--site-text-color-300);
}

#theme crupdate-title .sidebar .message,
#theme user-lists .lists .list,
#theme person-page .credits-container .mat-expansion-panel,
#theme footer,
#theme episode-page title-secondary-details-panel, #theme episode-page videos-panel,
#theme title-cast-panel .full-cast-button,
#theme videos-panel .video-grid .video,
#theme ads-page .panel > .header,
#theme mail-template-preview .email-inbox > .toolbar > .user > .meta > .info > .mat-icon,
#theme settings .widget.widget-flat,
#theme create-subscription-panel .paypal-tab > p
{
	border-color: var(--site-border-color-100);
}

#theme settings .settings-separator
{
	background-color: var(--site-border-color-100);
}

#theme crupdate-credit-modal search-input input,
#theme seasons-panel .mat-expansion-panel,
#theme homepage .list media-grid,
#theme crupdate-list .form-group search-input input,
#theme list-page .list-actions,
#theme news-article .news-article,
#theme news-article .sidebar .header,
#theme news-index .article,
#theme review-tab .review,
#theme star-rating-widget .current-rating,
#theme .main-search-autocomplete-panel.mat-autocomplete-panel .mat-option,
#theme search-page .type-container > .title,
#theme browse-titles .sidebar .filter-container,
#theme current-next-episode-panel,
#theme full-credits-page .mat-expansion-panel,
#theme star-rating-overlay .stars,
#theme title-page-container videos-panel,
#theme title-primary-details-panel,
#theme title-secondary-details-panel .left .details .with-separator,
#theme chart .chart-header,
#theme appearance-panel-meta,
#theme appearance .sidebar,
#theme appearance .sidebar .back-button,
#theme appearance .sidebar .header,
#theme appearance .nav-item,
#theme code-editor-modal .editor,
#theme homepage-appearance-panel .lists .list,
#theme appearance-image-input .img-container,
#theme appearance-list-input,
#theme add-menu-item-panel > .header,
#theme add-menu-item-panel .new-item-tabs .items-list > .item,
#theme menus-appearance-panel .mat-expansion-panel,
#theme menus-appearance-panel .mat-expansion-panel > .mat-expansion-panel-header.mat-expanded,
#theme crupdate-plan-modal .section-title,
#theme mail-template-preview .email-inbox > .header,
#theme mail-template-preview .email-inbox > .toolbar > .actions > .buttons,
#theme mail-template-preview .email-inbox > .toolbar > .actions > .buttons > .reply,
#theme mail-templates .header,
#theme mail-templates .header .action,
#theme mail-templates > .label .type:last-of-type,
#theme mail-templates .template.column mail-template-preview,
#theme mail-templates .template .editor,
#theme mail-templates .template mail-template-preview,
#theme crupdate-page .slug-container .back-button,
#theme permissions-manager-panel .header,
#theme assign-users-to-role-modal .with-addon > .input-addon,
#theme roles .new-role,
#theme translations > aside .new-localization,
#theme translations > aside .update-translations,
#theme user-access-manager .panel-outter > .header,
#theme user-subscription-page .content .main-section,
#theme user-subscription-page .card-preview,
#theme accepted-payments-header,
#theme order-summary,
#theme order-summary,
#theme order-summary .emphasis,
#theme upgrade-page-aside,
#theme upgrade-page-aside .secure-shopping,
#theme chip-input .mat-chip-list-wrapper,
#theme .admin-pill-nav.solid > .nav-item,
#theme .mat-flat-button.mat-gray,
#theme .admin-table-panel .admin-table-panel-header > .header-inner.selected,
#theme .admin-table-panel .admin-table-panel-header > .header-inner.selected > .right > button,
#theme .input-container input, #theme .input-container select, #theme .input-container textarea, #theme .input-container .fake-input,
#theme text-editor,
#theme text-editor .mce-tinymce .mce-panel,
#theme text-editor .editor-header > .toolbar-row,
#theme text-editor .editor-header .actions,
#theme text-editor .editor-footer
{
	border-color: var(--site-border-color-200);
}

#theme news-article .separator,
#theme person-page .credits-container .separator,
#theme .sort-widget-menu .separator,
#theme rating-widget .separator
{
	background-color: var(--site-border-color-200);
}

#theme app-root,
#theme person-page .credits-container .mat-expansion-panel,
#theme .main-search-autocomplete-panel.mat-autocomplete-panel,
#theme .main-search-autocomplete-panel.mat-autocomplete-panel known-for-widget a,
#theme full-credits-page .mat-expansion-panel,
#theme analytics-header .stat,
#theme analytics-header .stat .details .count,
#theme chart .chart-header .title,
#theme mail-templates > .label .type.selected,
#theme material-navbar.mobile-search-active .mobile-search-toggle,
#theme material-navbar .nav-searchbar input:active, #theme material-navbar .nav-searchbar input:focus,
#theme material-navbar .nav-searchbar input:active+ .mat-icon-button, #theme material-navbar .nav-searchbar input:focus+ .mat-icon-button,
#theme default-preview .panel,
#theme text-preview,
#theme .admin-pill-nav > .nav-item,
#theme .context-menu .context-menu-item,
#theme body,
#theme .mat-dialog-container,
#theme .mat-menu-item
{
	color: var(--site-text-color-400);
}

#theme homepage .list:nth-of-type(even),
#theme crupdate-list,
#theme user-lists .lists .list:nth-child(even),
#theme news-article .sidebar,
#theme people-index .person:nth-child(even),
#theme footer .footer-content,
#theme season-page .episode-list .episode:nth-of-type(even),
#theme title-cast-panel .cast-table-row.even,
#theme title-page-container .tagline,
#theme admin .admin-page-content .content-inner,
#theme ads-page .panel > .header,
#theme appearance .sidebar,
#theme add-menu-item-panel,
#theme menus-appearance-panel .mat-expansion-panel > .mat-expansion-panel-content,
#theme .select-permissions-modal-container .mat-dialog-container,
#theme .select-plan-modal-container .mat-dialog-container,
#theme create-subscription-panel .paypal-tab > p,
#theme user-subscription-page,
#theme user-subscription-page .card-preview,
#theme upgrade-page,
#theme text-editor .mce-tinymce .mce-panel
{
	background-color: var(--site-bg-color-200);
}

#theme contact .form-container
{
	background: var(--site-bg-color-200);
}

#theme slider .slider-controls .control.active .control-inner, #theme slider .slider-controls .control:hover .control-inner,
#theme footer .footer-bar,
#theme range-slider .noUi-connect,
#theme .admin-pill-nav > .nav-item.selected,
#theme .mat-raised-button.mat-accent:not([disabled]), #theme .mat-fab.mat-accent, #theme .mat-mini-fab.mat-accent,
#theme .mat-flat-button.mat-accent:not([disabled]), #theme .mat-fab.mat-accent, #theme .mat-mini-fab.mat-accent,
#theme .mat-checkbox-checked.mat-accent .mat-checkbox-background, #theme .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background
{
	background-color: var(--site-accent-color);
}

#theme list-page .list-actions .sort-container .mat-icon-button.active,
#theme news-article .news-article a,
#theme people-index .person a,
#theme media-grid .item figcaption .title:hover,
#theme .sort-widget-menu .mat-menu-item.active,
#theme current-next-episode-panel .media .media-body .name,
#theme full-credits-page .credit .name,
#theme rating-widget .user-rating .mat-icon,
#theme season-page .page-title a:hover,
#theme season-page .episode-list .title,
#theme title-cast-panel .full-cast-button,
#theme title-primary-details-panel h1 a:hover,
#theme title-secondary-details-panel .left .seasons .season,
#theme analytics-header .stat .mat-icon,
#theme appearance-panel-meta > .title > .path .last,
#theme user-subscription-page .content .check-icon,
#theme plan-features-list .mat-list .check-icon,
#theme text-editor .editor-header .editor-button.success,
#theme .mat-button.mat-accent, #theme .mat-icon-button.mat-accent
{
	color: var(--site-accent-color);
}

#theme .admin-pill-nav > .nav-item.selected
{
	border-color: var(--site-accent-color);
}

#theme related-titles-panel,
#theme .mat-flat-button.mat-gray
{
	background-color: var(--site-bg-color-300);
}

#theme select-plan-period-panel .periods > .radio-button-wrapper > .savings-label,
#theme material-navbar custom-menu .nav-item.router-link-active, #theme material-navbar custom-menu .nav-item.active,
#theme material-navbar .nav-searchbar input,
#theme .mat-progress-bar-buffer
{
	background-color: var(--site-primary-color-100);
}

#theme select-plan-period-panel .periods > .radio-button-wrapper > .savings-label:after
{
	border-left-color: var(--site-primary-color-100);
}

web-player ::-webkit-scrollbar-thumb, .web-player-theme ::-webkit-scrollbar-thumb
{
	background: var(--wp-bg-color-300);
}


web-player ::-webkit-scrollbar-thumb:hover, .web-player-theme ::-webkit-scrollbar-thumb:hover
{
	background: var(--wp-bg-color-200);
}

